body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  overflow-y: hidden; /* Add this line */
}

.login-header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  height: 100px;
  position: fixed; /* Add this line */
  top: 0; /* Add this line */
  left: 0; /* Add this line */
  width: 100%; /* Add this line */
}

.login-logo img {
  max-width: 120px; /* Adjust the size of the logo */
  max-height: 120px;
}
.login-form {
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 10px;
  width: 25%;  /* Changed from 300px to 100% */
  opacity: 0.8;
}

.page-container {
  background-image: url('../../public/images/backgrounds/loginPage_passwordResetPage_bg.png');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 100px); /* Adjust the height to account for the fixed header */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5vh;
  margin-top: 100px; /* Add this line */
}

.title {
  color: var(--text-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  text-align: center;
  font-size: 3rem;
  opacity: 100%;
}

.input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #A7988C;
  border: 1px solid #204665;
  opacity: 100%;
}

.button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #3B8C63;
  color: var(--text-color);
  cursor: pointer;
  margin-bottom: 1rem;
  opacity: 100%;
}

.button:hover {
  opacity: 2.3;
  background-color: #218838;
}

.button.primary {
  background-color: #28a745;
  opacity: 100%;
}

.button.primary:hover {
  background-color: #218838;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  opacity: 100%;
}

.remember-label {
  color: var(--text-color);
  opacity: 100%;
}

.forgot-password {
  color: #850002;
  text-decoration: none;
  margin-left: auto;
  opacity: 100%;
}

.or-with {
  text-align: center;
  margin: 1rem 0;
  color: var(--text-color);
  opacity: 100%;
}

.signup-link {
  text-align: center;
  margin-top: 1rem;
  color: var(--text-color);
  opacity: 100%;
}

.signup-link a {
  color: #28a745;
  text-decoration: none;
  opacity: 100%;
}